resources:
  requests:
    cpu: 25m
    memory: 32Mi
  limits:
    cpu: 200m
    memory: 256Mi

service:
  annotations:
    prometheus.io/scrape: "true"
    prometheus.io/port: "8080"

podDisruptionBudget:
  enabled: false
