# NATS Values for nats-io/nats chart
config:
  cluster:
    enabled: false
  jetstream:
    enabled: true
    fileStore:
      enabled: true
      dir: /data
      pvc:
        enabled: true
        size: 10Gi
        storageClassName: "oci-block-storage"
  nats:
    port: 4222

# Resource limits for the NATS pod
container:
  resources:
    requests:
      cpu: 100m
      memory: 256Mi
    limits:
      cpu: 500m
      memory: 1Gi

service:
  type: ClusterIP
