apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - deployment.yaml
  - service.yaml

images:
  - name: frolf-bot-backend
    newName: us-ashburn-1.ocir.io/id2uwn5pyixh/frolf-bot/backend
    newTag: latest
labels:
  - includeSelectors: true
    pairs:
      app: frolf-bot-backend
      managed-by: lich-king
