apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- deployment.yaml
- service.yaml


images:
- name: us-central1-docker.pkg.dev/resume-portfolio-project/frolf-bot/frolf-bot
  newName: us-central1-docker.pkg.dev/resume-portfolio-project/frolf-bot/frolf-bot
  newTag: latest
labels:
- includeSelectors: true
  pairs:
    app: frolf-bot-backend
    managed-by: lich-king
