controller:
  hostNetwork: true
  dnsPolicy: ClusterFirstWithHostNet
  service:
    type: ClusterIP
  resources:
    requests:
      cpu: 50m
      memory: 128Mi
    limits:
      cpu: 100m
      memory: 256Mi
  metrics:
    enabled: false
  config:
    resolver: "coredns.kube-system.svc.cluster.local. valid=30s"
