apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../base
# Namespace to deploy into
namespace: frolf-bot
# Generate the config map for environment variables
configMapGenerator:
  - name: frolf-pwa-config
    literals:
      - PUBLIC_NATS_URL=wss://nats.frolf-bot.duckdns.org
      - PUBLIC_API_URL=https://api.frolf-bot.duckdns.org
      - PUBLIC_OTEL_ENDPOINT=https://otel.frolf-bot.duckdns.org/v1/traces
      - PUBLIC_DEBUG="false"
# Image modification - ArgoCD Image Updater will patch this
images:
  - name: ghcr.io/black-and-white-club/frolf-bot-pwa
    newName: us-ashburn-1.ocir.io/id2uwn5pyixh/frolf-bot-pwa
    newTag: latest
  - name: frolf-bot-pwa
    newName: us-ashburn-1.ocir.io/id2uwn5pyixh/frolf-bot-pwa
    digest: sha256:c12cd79e5d57bd7457a23a48e71ea3be3f002c4f7f963e6e9f6fb7e3956b599e
  - name: us-ashburn-1.ocir.io/id2uwn5pyixh/frolf-bot-pwa
    digest: sha256:c9cde326363d3806bf91513bde36ed9e20d5bbd9ba2e3b6dd1a0cb8029f787a1
