apiVersion: apps/v1
kind: Deployment
metadata:
  name: resume-backend
  namespace: resume-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: resume-backend
  template:
    metadata:
      labels:
        app: resume-backend
    spec:
      imagePullSecrets:
        - name: ocir-secret
      containers:
        - name: resume-backend
          image: resume-backend
          imagePullPolicy: Always
          ports:
            - containerPort: 8000
          env:
            - name: ALLOWED_ORIGINS
              value: https://jaromero.cloud/
            - name: APP_ENV
              value: dev
            - name: DATABASE_URL
              valueFrom:
                secretKeyRef:
                  name: resume-backend-postgresql
                  key: DATABASE_URL
          resources:
            requests:
              memory: "256Mi"
              cpu: "50m"
            limits:
              memory: "512Mi"
              cpu: "250m"
          livenessProbe:
            httpGet:
              path: /healthz
              port: 8000
            initialDelaySeconds: 30
            timeoutSeconds: 1
          readinessProbe:
            httpGet:
              path: /readyz
              port: 8000
            initialDelaySeconds: 30
            timeoutSeconds: 1
