mimir-distributed:
  global:
    dnsSDDomain: observability.svc.cluster.local

  minio:
    enabled: false

  mimir:
    config:
      storage:
        s3:
          bucket_name: mimir-shared-bucket
          endpoint: id2uwn5pyixh.compat.objectstorage.us-phoenix-1.oraclecloud.com
          access_key_id: $MIMIR_OCI_ACCESS_KEY
          secret_access_key: $MIMIR_OCI_SECRET_KEY
          insecure: false
          s3ForcePathStyle: true

  prometheus:
    enabled: false

  ##############################################
  # INGESTER
  ##############################################
  ingester:
    lifecycler:
      ring:
        replication_factor: 1

  ##############################################
  # DISTRIBUTOR
  ##############################################
  distributor:
    replicas: 1
    resources:
      requests:
        cpu: 10m
        memory: 64Mi
      limits:
        cpu: 100m
        memory: 256Mi

  ##############################################
  # QUERY FRONTEND
  ##############################################
  queryFrontend:
    replicas: 1
    resources:
      requests:
        cpu: 15m
        memory: 64Mi
      limits:
        cpu: 150m
        memory: 256Mi

  ##############################################
  # QUERIER
  ##############################################
  querier:
    replicas: 1
    resources:
      requests:
        cpu: 25m
        memory: 128Mi
      limits:
        cpu: 200m
        memory: 512Mi

  ##############################################
  # COMPACTOR
  ##############################################
  compactor:
    replicas: 1
    resources:
      requests:
        cpu: 10m
        memory: 64Mi
      limits:
        cpu: 100m
        memory: 256Mi

  ##############################################
  # STORE GATEWAY
  ##############################################
  storeGateway:
    replicas: 1
    resources:
      requests:
        cpu: 15m
        memory: 64Mi
      limits:
        cpu: 150m
        memory: 256Mi
