apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../base
images:
  - name: frolf-bot-discord
    newName: us-ashburn-1.ocir.io/id2uwn5pyixh/frolf-bot/discord
    digest: sha256:7fa62cf0921438869d5c1e6f94ab6a51cc0590b1f6ca136fce265839400b1a41
  - name: us-ashburn-1.ocir.io/id2uwn5pyixh/frolf-bot/discord
    digest: sha256:fa35c8cac83e07b2856105bef360dcf2f360f4c9026b74217b1c06c8b1fa264b
