apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../base
images:
  - name: frolf-bot-backend
    newName: us-ashburn-1.ocir.io/id2uwn5pyixh/frolf-bot/backend
    digest: sha256:7825931eb90df45d12ca5fb831c6feea1ce3885946527fbfe1e10fb71bdb634d
  - name: us-ashburn-1.ocir.io/id2uwn5pyixh/frolf-bot/backend
    digest: sha256:800ae5a73d00d47548ac041775e8f34b5807f9e6a8a8797a1e7e047cf10d9eab
patches:
  - target:
      kind: Deployment
      name: frolf-bot-backend
    patch: |-
      - op: replace
        path: /spec/template/spec/containers/0/env
        value:
          - name: DATABASE_URL
            valueFrom:
              secretKeyRef:
                name: backend-secrets
                key: DATABASE_URL
          - name: NATS_URL
            valueFrom:
              secretKeyRef:
                name: backend-secrets
                key: NATS_URL
          - name: ENV
            value: "production"
          - name: ENVIRONMENT
            value: "production"
          - name: LOG_LEVEL
            value: "info"
          - name: CONFIG_FILE
            value: ""
          - name: AUTO_MIGRATE
            value: "true"
          - name: METRICS_ADDRESS
            value: "alloy.observability.svc.cluster.local:4317"
          - name: METRICS_ENABLED
            value: "true"
          - name: LOKI_URL
            value: "http://loki.observability.svc.cluster.local:3100"
          - name: TEMPO_ENDPOINT
            value: "alloy.observability.svc.cluster.local:4317"
          - name: TEMPO_INSECURE
            value: "true"
          - name: OTLP_ENDPOINT
            value: "alloy.observability.svc.cluster.local:4317"
          - name: OTLP_TRANSPORT
            value: "grpc"
          - name: OTLP_LOGS_ENABLED
            value: "true"
