apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../base
images:
  - name: frolf-bot-backend
    newName: us-ashburn-1.ocir.io/id2uwn5pyixh/frolf-bot/backend
    digest: sha256:675c341013026649eb7d2ba7f0b38be30720aa747c537f72044f7d603195d156
  - name: us-ashburn-1.ocir.io/id2uwn5pyixh/frolf-bot/backend
    digest: sha256:675c341013026649eb7d2ba7f0b38be30720aa747c537f72044f7d603195d156
