apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../base
images:
  - name: frolf-bot-backend
    newName: us-ashburn-1.ocir.io/id2uwn5pyixh/frolf-bot/backend
    digest: sha256:3b7cdd5df22342fb05a2eca61fbae6e374124dbee2b1194a516d198c7567fd40
  - name: us-ashburn-1.ocir.io/id2uwn5pyixh/frolf-bot/backend
    digest: sha256:642d119501e6d28b14ff33c93e5a5b325541709dfa2298c0c245ab61a017142b
patches:
  - target:
      kind: Deployment
      name: frolf-bot-backend
    patch: |-
      - op: replace
        path: /spec/template/spec/containers/0/env
        value:
          - name: DATABASE_URL
            valueFrom:
              secretKeyRef:
                name: backend-secrets
                key: DATABASE_URL
          - name: NATS_URL
            valueFrom:
              secretKeyRef:
                name: backend-secrets
                key: NATS_URL
          - name: ENV
            value: "production"
          - name: ENVIRONMENT
            value: "production"
          - name: LOG_LEVEL
            value: "info"
          - name: CONFIG_FILE
            value: ""
          - name: AUTO_MIGRATE
            value: "true"
          - name: METRICS_ADDRESS
            value: "alloy.observability.svc.cluster.local:4317"
          - name: METRICS_ENABLED
            value: "true"
          - name: LOKI_URL
            value: "http://loki.observability.svc.cluster.local:3100"
          - name: TEMPO_ENDPOINT
            value: "alloy.observability.svc.cluster.local:4317"
          - name: TEMPO_INSECURE
            value: "true"
          - name: OTLP_ENDPOINT
            value: "alloy.observability.svc.cluster.local:4317"
          - name: OTLP_TRANSPORT
            value: "grpc"
          - name: OTLP_LOGS_ENABLED
            value: "true"
