# Frolf-bot Postgres configuration
global:
  postgresql:
    auth:
      database: frolf_bot
      existingSecret: frolf-postgres-secret
      secretKeys:
        adminPasswordKey: postgres-password
        userPasswordKey: password

image:
  registry: docker.io
  repository: library/postgres
  tag: "17"

postgresqlDataDir: /var/lib/postgresql/data

primary:
  persistence:
    enabled: true
    storageClass: oci-block-storage
    size: 50Gi
    mountPath: /var/lib/postgresql
  resources:
    requests:
      memory: 512Mi
      cpu: 25m
    limits:
      memory: 1Gi
      cpu: 500m
  containerSecurityContext:
    runAsUser: 999
    runAsGroup: 999
    runAsNonRoot: true
    readOnlyRootFilesystem: false
  podSecurityContext:
    fsGroup: 999
